.title h1 {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  color: #222;
  letter-spacing: 1px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}
.title h1 span {
  font-size: 15px;
  color: #444;
  word-spacing: 1px;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 15px;

  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
}

.title h1 span:after,
.title h1 span:before {
  content: " ";
  display: block;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  height: 5px;
  width: 30px;
  background-color: #f8f8f8;
}

.formTitle {
  font-size: 20px;
}

@media (max-width: 768px) {
  .formCard {
    margin: 0 12px;
  }

  .title {
    padding: 0 !important;
  }

  .title h1 span,
  .title h1 span {
    grid-gap: 5px;
  }

  .title h1 span:after,
  .title h1 span:before {
    width: auto;
  }
}
